html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #1e90ff;
}

.father {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.boxOut {
  height: 500px;
  width: 500px;
  background-color: #ff6b81;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.boxIn {
  height: 100px;
  width: 100px;
  background-color: #d8d8d8;
}

.boxIn:nth-child(2):hover {
  background-color: red;
}
